.Oval {
  width: 80px;
  height: 120px;
  border-radius: 50%;
  transform: rotateY(20deg);
}

#Red-Empty {
  border: 4px solid red;
}
/* need to work on this */
#Red-Lines {
  border: 4px solid red;
}

#Red-Solid {
  background-color: red;
}

#Green-Empty {
  border: 4px solid green;
}
/* need to work on this */
#Green-Lines {
  border: 4px solid green;
}

#Green-Solid {
  background: green;
}

#Purple-Empty {
  border: 4px solid purple;
}
/* need to work on this */
#Purple-Lines {
  border: 4px solid purple;
}

#Purple-Solid {
  background: purple;
}
