.Squiggle {
  display: flex;
  flex-direction: column;
  margin: 0px;
  transform: rotateY(40deg) rotateZ(50deg);
}

.Row {
  display: flex;
  flex-direction: row;
  margin: 0px;
}

#RowBot {
  margin-left: 50px;
}

.Squiggle1 {
  width: 45px;
  height: 45px;
  border-radius: 100% 0% 0% 100%;
}

.Squiggle2 {
  width: 45px;
  height: 45px;
  border-radius: 0% 100% 0% 0%;
}

.Squiggle3 {
  width: 45px;
  height: 45px;
  border-radius: 0% 0% 0% 100%;
}

.Squiggle4 {
  width: 45px;
  height: 45px;
  border-radius: 0% 100% 100% 0%;
}

/* ~~~~~~~~~~ RED ~~~~~~~~~~~ */

/* SQUIGGLE ONE RED */
#Squiggle1-Red-Empty {
  border-top: 5px solid red;
  border-left: 5px solid red;
  border-bottom: 5px solid red;
}
#Squiggle1-Red-Lines {
  border-top: 5px solid red;
  border-left: 5px solid red;
  border-bottom: 5px solid red;
}

#Squiggle1-Red-Solid {
  background-color: red;
  border: 3px solid red;
}

/* SQUIGGLE TWO RED */
#Squiggle2-Red-Empty {
  border-top: 5px solid red;
  border-right: 5px solid red;
}
#Squiggle2-Red-Lines {
  border-top: 5px solid red;
  border-right: 5px solid red;
}

#Squiggle2-Red-Solid {
  background-color: red;
  border: 3px solid red;
}

/* SQUIGGLE THREE RED*/
#Squiggle3-Red-Empty {
  border-left: 5px solid red;
  border-bottom: 5px solid red;
}
#Squiggle3-Red-Lines {
  border-left: 5px solid red;
  border-bottom: 5px solid red;
}

#Squiggle3-Red-Solid {
  background-color: red;
  border: 3px solid red;
}

/* SQUIGGLE FOUR RED*/
#Squiggle4-Red-Empty {
  border-right: 5px solid red;
  border-top: 5px solid red;
  border-bottom: 5px solid red;
}

#Squiggle4-Red-Lines {
  border-right: 5px solid red;
  border-top: 5px solid red;
  border-bottom: 5px solid red;
}

#Squiggle4-Red-Lines::before {
  content: "____ ______  _____ ___";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; /* stretches the before element over the entire surface of the main element */
  z-index: -1; /* places the ::before element underneath the main div content, as a background */
  padding-left: 6px; /* letter-spacing adds px after letter, use padding at the beginning to off set it to remain centered. */
  font-size: 30px;
  color: red;
  line-height: 0px;
  /* transform: rotateY(60deg); */
}

#Squiggle4-Red-Solid {
  background-color: red;
  border: 3px solid red;
}

/* ~~~~~~~~~~ GREEN ~~~~~~~~~~~ */

/* SQUIGGLE ONE GREEN */
#Squiggle1-Green-Empty {
  border-top: 5px solid green;
  border-left: 5px solid green;
  border-bottom: 5px solid green;
}
#Squiggle1-Green-Lines {
  border-top: 5px solid green;
  border-left: 5px solid green;
  border-bottom: 5px solid green;
}

#Squiggle1-Green-Solid {
  background: green;
  border: 3px solid green;
}

/* SQUIGGLE TWO GREEN */
#Squiggle2-Green-Empty {
  border-top: 5px solid green;
  border-right: 5px solid green;
}
#Squiggle2-Green-Lines {
  border-top: 5px solid green;
  border-right: 5px solid green;
}

#Squiggle2-Green-Solid {
  background: green;
  border: 3px solid green;
}

/* SQUIGGLE THREE GREEN */
#Squiggle3-Green-Empty {
  border-left: 5px solid green;
  border-bottom: 5px solid green;
}
#Squiggle3-Green-Lines {
  border-left: 5px solid green;
  border-bottom: 5px solid green;
}

#Squiggle3-Green-Solid {
  background: green;
  border: 3px solid green;
}

/* SQUIGGLE FOUR GREEN */
#Squiggle4-Green-Empty {
  border-right: 5px solid green;
  border-top: 5px solid green;
  border-bottom: 5px solid green;
}
#Squiggle4-Green-Lines {
  border-right: 5px solid green;
  border-top: 5px solid green;
  border-bottom: 5px solid green;
}

#Squiggle4-Green-Solid {
  background: green;
  border: 3px solid green;
}

/* ~~~~~~~~~~ PURPLE ~~~~~~~~~~~ */

/* SQUIGGLE ONE PURPLE */
#Squiggle1-Purple-Empty {
  border-top: 5px solid Purple;
  border-left: 5px solid Purple;
  border-bottom: 5px solid Purple;
}

#Squiggle1-Purple-Lines {
  border-top: 5px solid Purple;
  border-left: 5px solid Purple;
  border-bottom: 5px solid Purple;
}

#Squiggle1-Purple-Solid {
  background-color: Purple;
  border: 3px solid purple;
}

/* SQUIGGLE TWO Purple */
#Squiggle2-Purple-Empty {
  border-top: 5px solid Purple;
  border-right: 5px solid Purple;
}

#Squiggle2-Purple-Lines {
  border-top: 5px solid Purple;
  border-right: 5px solid Purple;
}

#Squiggle2-Purple-Solid {
  background-color: Purple;
  border: 3px solid purple;
}

/* SQUIGGLE THREE Purple*/
#Squiggle3-Purple-Empty {
  border-left: 5px solid Purple;
  border-bottom: 5px solid Purple;
}

#Squiggle3-Purple-Lines {
  border-left: 5px solid Purple;
  border-bottom: 5px solid Purple;
}

#Squiggle3-Purple-Solid {
  background-color: Purple;
  border: 3px solid purple;
}

/* SQUIGGLE FOUR Purple*/
#Squiggle4-Purple-Empty {
  border-right: 5px solid Purple;
  border-top: 5px solid Purple;
  border-bottom: 5px solid Purple;
}

#Squiggle4-Purple-Lines {
  border-right: 5px solid Purple;
  border-top: 5px solid Purple;
  border-bottom: 5px solid Purple;
}

#Squiggle4-Purple-Solid {
  background-color: Purple;
  border: 3px solid purple;
}
