.Squiggle {
  display: flex;
  flex-direction: column;
  margin: 0px;
  transform: rotateY(40deg) rotateZ(50deg);
}

.Row {
  display: flex;
  flex-direction: row;
  margin: 0px;
}

#RowBot {
  margin-left: 50px;
}

.Squiggle1 {
  width: 50px;
  height: 50px;
  border-radius: 100% 0% 0% 100%;
}

.Squiggle2 {
  width: 50px;
  height: 50px;
  border-radius: 0% 100% 0% 0%;
}

.Squiggle3 {
  width: 50px;
  height: 50px;
  border-radius: 0% 0% 0% 100%;
}

.Squiggle4 {
  width: 50px;
  height: 50px;
  border-radius: 0% 100% 100% 0%;
}

#Red-Blank {
  border: 5px solid red;
}
/* need to work on this */
#Red-Lines {
  border: 5px solid red;
}

#Red-Filled {
  background-color: red;
}

#Green-Blank {
  border: 5px solid green;
}
/* need to work on this */
#Green-Lines {
  border: 5px solid green;
}

#Green-Filled {
  background: green;
}

#Purple-Blank {
  border: 5px solid purple;
}
/* need to work on this */
#Purple-Lines {
  border: 5px solid purple;
}

#Purple-Filled {
  background: purple;
}
