.Card {
  display: flex;
  outline: solid;
  height: 180px;
  width: 300px;
  border-radius: 20px;
  justify-content: center;
  margin: 15px;
  background-color: white;
}

#selectedCard {
  border-color: yellow;
  border-style: solid;
}

#hintCard {
  border-color: rgb(139, 10, 251);
  border-style: solid;
}

.CardSymbol {
  display: flex;
  align-items: center;
}
