.GameBoard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: purple;
}

.CardRow {
  display: flex;
  /* margin: 15px; */
}

.Points {
  padding: 5px;
}

.Alerts {
  padding: 5px;
}

.ButtonContainer {
  font-size: 30px;
}

.Stats {
  background-color: rgb(11, 255, 247);
  padding: 20px;
  font-size: 30px;
}
